<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule temp/(.*).(MYD)$ - [F,NC]
RewriteRule core/(.*).(php)$ - [F,NC]
RewriteRule template/(.*)\.html$ - [F,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^(.*)$ index.php\?$1 [QSA,PT,L]

</IfModule>